.speakers > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 24px;
    text-align: center;
}

.speakers > ul > li {
    /* border: 1px solid #dadada; */
    background-color: var(--background-color);
}

.speakers .speakers-card-body {
    margin: 16px;
}

.speakers .speakers-card-image {
    line-height: 0;
}

.speakers > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: contain;
}
