.speakers > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 24px;
    text-align: center;
}

.speakers > ul > li {
    /* border: 1px solid #dadada; */
    background-color: var(--background-color);
}

.speakers .speakers-card-body {
    margin: 16px;
}

.speakers .speakers-card-image {
    line-height: 0;
}

.speakers > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: contain;
}

/* Modal container */
.speaker-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #00000080; /* Black background with opacity */
}

/* Modal content box */
.modal-content {
    position: relative;
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px #0003;
    border-radius: 10px;
}

/* Modal body (for speaker details) */
.modal-body {
    text-align: center;
}

/* Close button */
.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
}

/* Responsive styles for smaller screens */
@media (width >= 768px) {
    .modal-content {
        width: 80%;
    }
}
