.blog > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 24px;
    text-align: center;
}

.blog > ul > li {
    /* border: 1px solid #dadada; */
    background-color: var(--background-color);
    display: flex;
}

.blog .blog-card-body {
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.blog .blog-card-body p{
    text-align: start;
}

.blog .blog-card-image {
    line-height: 0;
    width: 100%;
    margin: 16px;

}

.blog > ul > li img {
    object-fit: cover;
}
